# Секреты и пароли (САМОЕ ВАЖНОЕ!)
.env

# База данных (чтобы случайно не затереть реальную базу пустым файлом)
database/*.db
database/*.sqlite3
*.db
*.sqlite3

# Системные папки Python
__pycache__/
venv/
env/

# Логи и временные файлы
logs/
*.log

telegram_bot2/
